In [2]:
import pandas as pd

In [31]:
df=pd.read_csv('G://OneDrive//tmdb.csv')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [34]:
df.shape

(10866, 21)

In [35]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [36]:
df=df.drop(['imdb_id','tagline','homepage'],axis=1)

In [37]:
df

,id,popularity,budget,revenue,original_title,cast,director,keywords,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,future|chase|post-apocalyptic|dystopia|australia,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,based on novel|revolution|dystopia|sequel|dyst...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,android|spaceship|jedi|space opera|3d,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,car race|speed|revenge|suspense|car,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,Bruce Brown,surfer|surfboard|surfing,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,John Frankenheimer,car race|racing|formula 1,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,Eldar Ryazanov,car|trolley|stealing car,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,Woody Allen,spoof,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,Harold P. Warren,fire|gun|drive|sacrifice|flashlight,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

In [38]:
df.shape

(10866, 18)

In [39]:
df=df.dropna()

In [42]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8667 entries, 0 to 10865
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    8667 non-null   int64
 1   popularity            8667 non-null   float64
 2   budget                8667 non-null   int64
 3   revenue               8667 non-null   int64
 4   original_title        8667 non-null   object
 5   cast                  8667 non-null   object
 6   director              8667 non-null   object
 7   keywords              8667 non-null   object
 8   overview              8667 non-null   object
 9   runtime               8667 non-null   int64
 10  genres                8667 non-null   object
 11  production_companies  8667 non-null   object
 12  release_date          8667 non-null   object
 13  vote_count            8667 non-null   int64
 14  vote_average          8667 non-null   float64
 15  release_year          8667 non-null   int64
 16  budget_adj            8667 non-null   float64
 17  revenue_adj           8667 non-null   float64
dtypes: float64(4), int64(6), object(8)
memory usage: 1.3+ MB

In [45]:
 #Movie with the third highest budget?
    
h=df.sort_values(by='budget',ascending=False)
h[:3]

,id,popularity,budget,revenue,original_title,cast,director,keywords,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
2244,46528,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,assassin|small town|revenge|deception|super speed,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/10,74,6.4,2010,4.250000e+08,1.108757e+07
3375,1865,4.955130,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,sea|captain|mutiny|sword|prime minister,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/11,3180,6.3,2011,3.683713e+08,9.904175e+08
7387,285,4.965391,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,ocean|drug abuse|exotic island|east india trad...,"Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/07,2626,6.8,2007,3.155006e+08,1.010654e+09

In [47]:
 #Movie with the third lowest budget?
    
h=df.sort_values(by='budget')
h[:3]

,id,popularity,budget,revenue,original_title,cast,director,keywords,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
5714,214093,0.380585,0,0,L'Amour Est un Crime Parfait,Mathieu Amalric|MaÃ¯wenn|Karin Viard|Denis Pod...,Arnaud Larrieu|Jean-Marie Larrieu,thriller|teacher student relationship,"Marc, in his 40s, is a professor of literature...",110,Thriller|Drama,Gaumont|Entre Chien et Loup|Arena Productions|...,9/7/13,16,5.4,2013,0.0,0.0
7660,13949,0.276624,0,0,Persuasion,Sally Hawkins|Rupert Penry-Jones|Alice Krige|A...,Adrian Shergold,love triangle|poetry|captain|navy|love,Persuasion is the newest adaptation of the cla...,93,Drama|Romance,WGBH|Clerkenwell Films,4/1/07,26,6.5,2007,0.0,0.0
7657,7797,0.281136,0,0,Youth Without Youth,Tim Roth|Alexandra Maria Lara|Bruno Ganz|AndrÃ...,Francis Ford Coppola,fountain of youth|nepal|soulmates|dual identit...,A love story wrapped in a mystery. Set in Euro...,125,Fantasy|Drama|Mystery,American Zoetrope,11/14/07,20,6.6,2007,0.0,0.0

In [62]:
## Average number of words in movie titles between the year 2000-2005

##YEAR 2000

y=df[df['release_year'] ==2000]
  
l=[]
for i in y.original_title:
    e=i.replace(" ",'')
    l.append(len(e))

    
print(sum(l)/len(l))

13.369565217391305

In [61]:
##YEAR 2001
y1=df[df['release_year']==2001]
  
l1=[]
for i in y1.original_title:
    e=i.replace(" ",'')
    l1.append(len(e))

print(sum(l1)/len(l1))

13.494897959183673

In [64]:
##YEAR 2002

y2=df[df['release_year']==2002]
  
l2=[]
for i in y2.original_title:
    e=i.replace(" ",'')
    l2.append(len(e))

print(sum(l2)/len(l2))

13.269406392694064

In [69]:
##YEAR 2003
y3=df[df['release_year']==2003]
  
l3=[]
for i in y3.original_title:
    e=i.replace(" ",'')
    l3.append(len(e))

print(sum(l3)/len(l3))

14.098130841121495

In [73]:
##YEAR 2004
y4=df[df['release_year']==2004]
  
l4=[]
for i in y4.original_title:
    e=i.replace(" ",'')
    l4.append(len(e))

print(sum(l4)/len(l4))

15.050632911392405

In [74]:
##YEAR 2005
y5=df[df['release_year']==2005]
  
l5=[]
for i in y5.original_title:
    e=i.replace(" ",'')
    l5.append(len(e))

print(sum(l5)/len(l5))

13.816053511705686

In [75]:
##AVERAGE WORDS 

print((sum(l)/len(l)+sum(l1)/len(l1)+sum(l2)/len(l2)+sum(l3)/len(l3)+sum(l4)/len(l4)+sum(l5)/len(l5))/6)

13.849781138914773

In [76]:
## Least revenue 
r=df.sort_values(by='revenue')
r

,id,popularity,budget,revenue,original_title,cast,director,keywords,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
5714,214093,0.380585,0,0,L'Amour Est un Crime Parfait,Mathieu Amalric|MaÃ¯wenn|Karin Viard|Denis Pod...,Arnaud Larrieu|Jean-Marie Larrieu,thriller|teacher student relationship,"Marc, in his 40s, is a professor of literature...",110,Thriller|Drama,Gaumont|Entre Chien et Loup|Arena Productions|...,9/7/13,16,5.4,2013,0.000000e+00,0.000000e+00
6342,9721,0.481416,13000000,0,7 Seconds,Wesley Snipes|Tamzin Outhwaite|Deobia Oparei|G...,Simon Fellows,hostage|hold-up robbery|chase|wretch|police,When an experienced thief accidentally makes o...,96,Action|Crime|Thriller,Andrew Stevens Entertainment,6/28/05,26,4.3,2005,1.451532e+07,0.000000e+00
6340,10292,0.498926,3500000,0,Urban Legends: Bloody Mary,Kate Mara|Robert Vito|Tina Lifford|Ed Marinaro...,Mary Lambert,high school|bong|spirit|mirror|woman director,"On a prom-night dare, a trio of high school fr...",93,Horror|Thriller,Columbia Pictures Television,7/19/05,27,5.0,2005,3.907972e+06,0.000000e+00
6339,10064,0.499629,0,0,Edison,Morgan Freeman|Kevin Spacey|Justin Timberlake|...,David J. Burke,journalist|police brutality|metropolis|investi...,"Upon discovering a den of corrupt policemen, a...",99,Drama|Thriller,VIP 3 Medienfonds|Millennium Films|Emmett/Furl...,7/29/05,50,5.6,2005,0.000000e+00,0.000000e+00
6336,15657,0.506241,0,0,Tarzan II,Harrison Chad|George Carlin|Brad Garrett|Ron P...,Brian Smith,tarzan,Experience the beginning of the legend with Di...,72,Adventure|Animation|Family,Walt Disney Pictures,6/13/05,119,5.9,2005,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,135397,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
4361,24428,7.637767,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,new york|shield|marvel comic|comic|superhero,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/12,8903,7.3,2012,2.089437e+08,1.443191e+09
5231,597,4.355219,200000000,1845034188,Titanic,Kate Winslet|Leonardo DiCaprio|Frances Fisher|...,James Cameron,shipwreck|iceberg|ship|panic|titanic,"84 years later, a 101-year-old woman named Ros...",194,Drama|Romance|Thriller,Paramount Pictures|Twentieth Century Fox Film ...,11/18/97,4654,7.3,1997,2.716921e+08,2.506406e+09
3,140607,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,android|spaceship|jedi|space opera|3d,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
1386,19995,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,culture clash|future|space war|space colony|so...,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/09,8458,7.1,2009,2.408869e+08,2.827124e+09

In [78]:
## Highest revenue 
r1=df.sort_values(by='revenue',ascending=False)
r1

,id,popularity,budget,revenue,original_title,cast,director,keywords,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
1386,19995,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,culture clash|future|space war|space colony|so...,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/09,8458,7.1,2009,2.408869e+08,2.827124e+09
3,140607,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,android|spaceship|jedi|space opera|3d,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
5231,597,4.355219,200000000,1845034188,Titanic,Kate Winslet|Leonardo DiCaprio|Frances Fisher|...,James Cameron,shipwreck|iceberg|ship|panic|titanic,"84 years later, a 101-year-old woman named Ros...",194,Drama|Romance|Thriller,Paramount Pictures|Twentieth Century Fox Film ...,11/18/97,4654,7.3,1997,2.716921e+08,2.506406e+09
4361,24428,7.637767,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,new york|shield|marvel comic|comic|superhero,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/12,8903,7.3,2012,2.089437e+08,1.443191e+09
0,135397,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5063,10922,0.471245,30000000,0,The Human Stain,Anthony Hopkins|Nicole Kidman|Ed Harris|Gary S...,Robert Benton,black people|professor for literature,Coleman Silk is a worldly and admired professo...,106,Drama|Thriller|Romance,Miramax Films|Lakeshore Entertainment|Cinerent...,10/29/03,55,6.2,2003,3.556058e+07,0.000000e+00
5061,10943,0.477180,0,0,The Gathering,Christina Ricci|Ioan Gruffudd|Stephen Dillane|...,Brian Gilbert,amnesia|excavation|vision|church|archaeologist,Cassie Grant (Christina Ricci) is a young girl...,92,Horror|Thriller,Granada Film Productions|Isle of Man Film|Isle...,2/23/03,14,5.0,2003,0.000000e+00,0.000000e+00
5058,10628,0.490786,0,0,Kangaroo Jack,Jerry O'Connell|Anthony Anderson|Estella Warre...,David McNally,money delivery|fool|australia|hoodlum|kangaroo,"Two childhood friends, a New York hairstylist ...",89,Comedy|Adventure|Crime,Castle Rock Entertainment|Jerry Bruckheimer Fi...,1/17/03,112,4.5,2003,0.000000e+00,0.000000e+00
5056,2577,0.496760,7500000,0,Code 46,Tim Robbins|Samantha Morton|Nabil Elouahabi|Om...,Michael Winterbottom,seattle|shanghai|future|insurance salesman|dys...,"A futuristic 'Brief Encounter', a love story i...",92,Drama|Romance|Science Fiction|Thriller,BBC Films,9/2/03,52,5.9,2003,8.890145e+06,0.000000e+00
10865,22293,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,Harold P. Warren,fire|gun|drive|sacrifice|flashlight,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

In [81]:
## AVERAGE RUNTIME 2006 
run=df[df['release_year']==2006]

l=[]
for i in run.runtime:
    l.append(i)
    
    
print(sum(l)/len(l))

101.98769230769231